@use 'sass:math';
@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
